button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
button:hover{
    background-color: #3e8e41;
}
div{
  margin: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}